<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="{{site.name}}" />
  <meta name="description" content="{{site.description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/holman" />
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/d70ca5cd-778e-48cc-9e59-6b276425c670.css"/>

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/ss-social.css" type="text/css" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
  <div class="header">
    <div class="container">
      <ul class="menu">
        {% for member in site.data.members %}
        <li>
          <a href="{{ member.url }}">
            {{ member.name }}
          </a>
        </li>
        {% endfor %}
        <!-- <li><a href="/about.html">About</a></li>
        <li><a href="/creation.html">Creation</a></li>
        <li><a href="/contacts.html">Contacts</a></li> -->
      </ul>

      <section class="name">
        <a href="/">Mei<b>XiangHao</b></a>
      </section>
    </div>
  </div>
  
  <div class="hero" style="background-image: url(http://cl.ly/image/0H0M0W1u463f/content);"></div>
  
  <section class="container content">
  
    <section class="container content">
      {{ content }}
    </section>


    <section class="meta">
      <a class="block" href="/">
        <span class="ss-social-circle ss-twitter" />
        <div>Follow me on Weibo.</div>
      </a>

      <a class="block" href="/">
        <span class="ss-social-circle ss-octocat" />
        <div>Our creation.</div>
      </a>

      <a class="block" href="/">
        <span class="ss-social-circle ss-mail" />
        <div>Let's chat about this.</div>
      </a>

      <div style="clear: both"></div>
    </section>
  </section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-28274736-1', 'meixianghao.com');
    ga('send', 'pageview');

  </script>
</body>

</html>
